
<img src="/Files/Index/lj2.jpg" />
<form action="@Url.Action("Edit","Home")" method="post" enctype="multipart/form-data">
  <input type="file" name="name1" value="" />
  <input type="submit" name="name" value="11" />
</form>