@model ContentViewModelSummary
<div>
  <p>1</p>
  <p>1</p>
  <p>1</p>
  <p>1</p>
  <p>1</p>
</div>
@{ await Html.RenderPartialAsync("ChatView");}

<form action="/Home/Test" method="post">

  <input type="submit" name="name" value="111" />
  <input type="text" name="ContentModel.Model.Id" value="1" />
</form>
