@{
  Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body>

  <div style="text-align:center">
    <img src="/admin-lib/assets/images/Loading_icon.gif" alt="Loading" />
  </div>
  <script>
    window.close();
      if (window) {
        var closeFunction = `@ViewBag.CloseFunction`;
        console.log(closeFunction);
        if (closeFunction) {
          window.parent[`${closeFunction}`]();
        }
      }

  </script>
</body>
</html>
