@{
  Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body>

  <div style="text-align:center">
    <img src="/admin-lib/assets/images/Loading_icon.gif" alt="Loading" />
  </div>
  <script>
    setTimeout(function () {
      window.close();
      if (window) {
        window.location.href = "/closethatframe";
      }
    }, 500);

  </script>
</body>
</html>
