<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Identity Sample</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Identity Sample</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
          </div>
        </div>
      </div>
      <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
          <p>&copy; 2016 - IdentitySample</p>
        </footer>
      </div>

      <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
      <script src="~/js/site.js" asp-append-version="true"></script>

      @RenderSection("scripts", required: false)

      <!--REQUIRED PLUGIN CSS-->
      <link href="~/admin-lib/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link href="~/admin-lib/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="~/admin-lib/plugins/node-waves/waves.css" rel="stylesheet" />
      <link href="~/admin-lib/plugins/animate-css/animate.css" rel="stylesheet" />
      <link href="~/admin-lib/plugins/spinkit/spinkit.css" rel="stylesheet">

      <link href="~/admin-lib/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
      <link href="~/admin-lib/plugins/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
      <link href="~/admin-lib/plugins/boootstrap-datepicker/bootstrap-datepicker3.min.css" rel="stylesheet" />
      <link href="~/admin-lib/plugins/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet" />
      <link href="~/admin-lib/plugins/bootstrap-daterange/daterangepicker.css" rel="stylesheet" />

      <link href="~/admin-lib/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
      <link href="~/admin-lib/plugins/jquery-datatable/skin/bootstrap/css/responsive.bootstrap.min.css" rel="stylesheet">
      <link href="~/admin-lib/plugins/jquery-datatable/skin/bootstrap/css/scroller.bootstrap.min.css" rel="stylesheet">
      <link href="~/admin-lib/plugins/jquery-datatable/skin/bootstrap/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
      <link href="~/admin-lib/plugins/footable/css/footable.core.css" rel="stylesheet">
      <!--REQUIRED THEME CSS -->

      <link href="~/admin-lib/assets/css/style.css" rel="stylesheet">
      <link href="~/admin-lib/assets/css/layout.css" rel="stylesheet">
      <link href="~/admin-lib/assets/css/themes/main_theme.css" rel="stylesheet" />
      <link href="~/admin-lib/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
      <!--THIS PAGE LEVEL CSS-->
      <link href="~/admin-lib/plugins/morrisjs/morris.css" rel="stylesheet" />
      <!--Chat Css-->



      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.7/themes/default/style.min.css" />



      <!-- CORE PLUGIN JS -->
      <script src="~/admin-lib/plugins/jquery/jquery.min.js"></script>
      <script src="~/admin-lib/plugins/bootstrap/js/bootstrap.js"></script>
      <script src="~/admin-lib/plugins/modernizr/modernizr.custom.js"></script>
      <script src="~/admin-lib/plugins/screenfull/dist/screenfull.js"></script>
      <script src="~/admin-lib/plugins/jQuery-Storage-API/jquery.storageapi.js"></script>
      <script src="~/admin-lib/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
      <script src="~/admin-lib/plugins/node-waves/waves.js"></script>

      <!--THIS PAGE LEVEL JS-->
      <script src="~/admin-lib/plugins/jquery-datatable/jquery.dataTables.js"></script>
      <script src="~/admin-lib/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
      <script src="~/admin-lib/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
      <script src="~/admin-lib/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
      <script src="~/admin-lib/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
      <script src="~/admin-lib/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
      <script src="~/admin-lib/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
      <script src="~/admin-lib/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
      <script src="~/admin-lib/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
      <script src="~/admin-lib/plugins/jquery-datatable/extensions/export/dataTables.keyTable.min.js"></script>
      <script src="~/admin-lib/plugins/jquery-datatable/extensions/export/dataTables.responsive.min.js"></script>
      <script src="~/admin-lib/plugins/jquery-datatable/extensions/export/responsive.bootstrap.min.js"></script>
      <script src="~/admin-lib/plugins/jquery-datatable/extensions/export/dataTables.scroller.min.js"></script>
      <script src="~/admin-lib/plugins/jquery-datatable/extensions/export/dataTables.fixedHeader.min.js"></script>

      <script src="~/admin-lib/plugins/jquery-countto/jquery.countTo.js"></script>
      <script src="~/admin-lib/plugins/masonry/masonry.pkgd.min.js"></script>
      <script src="~/admin-lib/plugins/jquery-sparkline/jquery.sparkline.js"></script>
      @*<script src="~/admin-lib/plugins/morrisjs/morris.js"></script>*@

      <script src="~/admin-lib/plugins/raphael/raphael.min.js"></script>
      <script src="~/admin-lib/plugins/masonry/masonry.min.js"></script>

      <!--Chat js-->
      <script src="~/admin-lib/assets/js/signalr.js"></script>

      <!-- #End# Chat js-->

      <script src="~/admin-lib/plugins/sweetalert/sweetalert.min.js"></script>
      <script src="~/admin-lib/assets/js/pages/index.js"></script>
      <script src="~/admin-lib/plugins/momentjs/moment.js"></script>
      <script src="~/admin-lib/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
      <script src="~/admin-lib/plugins/boootstrap-datepicker/bootstrap-datepicker.min.js"></script>
      <script src="~/admin-lib/plugins/bootstrap-datetime-picker/js/bootstrap-datetimepicker.js"></script>
      <script src="~/admin-lib/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
      <script src="~/admin-lib/plugins/bootstrap-daterange/daterangepicker.js"></script>
      <script src="~/admin-lib/plugins/ckeditor/ckeditor.js"></script>
      <script src="~/admin-lib/plugins/jquery-spinner/js/jquery.spinner.js"></script>
      <script src="~/admin-lib/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
      <script src="~/admin-lib/plugins/bootstrap-selectsplitter/bootstrap-selectsplitter.js"></script>

      <!-- LAYOUT JS -->
      <script src="~/admin-lib/assets/js/demo.js"></script>
      <script src="~/admin-lib/assets/js/layout.js"></script>
    </body>
</html>
