@model ContentViewModal
@{
  var sharedModel = Model.GetSharedLinkPost(nameof(Models.BaseContentModel.OurServices));
  var index = 0;
}
@foreach (var item in sharedModel.GetModels<Models.OurService>())
{
  <div class="gdlr-core-pbf-column gdlr-core-column-20 @(index==0?"gdlr-core-column-first":"")">
    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 0px 0px 40px 0px;">
      <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
        <div class=gdlr-core-pbf-element>
          <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-center-align" style="padding-bottom: 38px ;">
            <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" style="border-width: 0px;">
              <img src="@item.Image.ImagePath().GetUrlPath()" alt width=53 height=53 title=hp-icon-4>
            </div>
          </div>
        </div>
        <div class=gdlr-core-pbf-element>
          <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 22px ;">
            <div class="gdlr-core-title-item-title-wrap ">
              <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 15px ;font-weight: 600 ;letter-spacing: 3px ;color: #454545 ;">@item.Title<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
            </div>
          </div>
        </div>
        <div class=gdlr-core-pbf-element>
          <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align">
            <a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-button-no-border" href="personalimmigration.html" style="font-size: 13px ;font-weight: 600 ;letter-spacing: 2px ;color: #b1976b ;padding: 0px 0px 0px 0px;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;">
              <span class=gdlr-core-content>Learn More</span><i class="gdlr-core-pos-right fa fa-long-arrow-right" style="color: #b1976b ;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  index++;
}