@model ContentPropertyIndex

<div class="modal fade review_modal" id="@Model.ModalName" tabindex="-1" role="dialog" aria-labelledby="label_modal_@Model.OuterNameNoMark" aria-hidden="true">
  <div class="modal-dialog" style="width:75%" role="document">
    <div class="modal-content">
      <div class="modal-header">
        @*<h5 class="modal-title" id="label_modal_@Model.OuterNameNoMark">Modal title</h5>*@
        <button type="button" class="close" onclick="model_close_click('@Model.OuterName')" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @{
          await Html.RenderPartialAsync("AdminInputs/_AdminInput", Model);
          if (Model.Property.EditorType == EnumInputType.SharedLink)
          {
            await Html.RenderPartialAsync("AdminInputs/_SharedLinsModal", Model);
          }
        }
      </div>
      <div class="modal-footer">
        @if (Model.Property.EditorType != EnumInputType.SharedLink)
        {
          <button type="button" class="btn btn-primary" onclick="model_close_click('@Model.OuterName')" data-dismiss="modal">Close</button>
        }
      </div>
    </div>
  </div>
</div>
