<!DOCTYPE html>
<html lang="en">

<head>
  @{ Html.RenderPartial("_head"); }
  @{ Html.RenderPartial("_css"); }
  <style>
    .card {
      box-shadow: none !important;
    }
  </style>
</head>

<body class="theme-indigo light layout-fixed" style="background-color:white">
  <div class="">
    <div class="page-loader-wrapper">
      <div class="loader">
        <div class="sk-wave">
          <div class="sk-rect sk-rect1 bg-cyan"></div>
          <div class="sk-rect sk-rect2 bg-cyan"></div>
          <div class="sk-rect sk-rect3 bg-cyan"></div>
          <div class="sk-rect sk-rect4 bg-cyan"></div>
          <div class="sk-rect sk-rect5 bg-cyan"></div>
        </div>
        <p>Please wait...</p>
      </div>
    </div>
    <!-- top navbar-->


    @RenderBody()

  </div>

  @{ Html.RenderPartial("_js"); }
  @RenderSection("script", false)
  <script>
    $(".form_datetime").datepicker({
      format: 'yyyy-mm-dd',
      fontAwesome: !0,
      autoclose: true,
      pickerPosition: "top-right"

    });
  </script>
  <script>
    $(function () {
      var htmlEditor = $("textarea[id^=html_editor_]");
      for (var i = 0; i < htmlEditor.length; i++) {
        var e = $(htmlEditor[i]).attr('id');
        if (e) {
          resetEditor(e);
        }
      }
      //CKEDITOR.replace('html-editor')
      //CKEDITOR.config.height = 600;

    });
    $(document).ready(function () {

      $.fn.modal.Constructor.prototype.enforceFocus = function () {
        modal_this = this
        $(document).on('focusin.modal', function (e) {

          if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length
            // add whatever conditions you need here:
            &&
            !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select') && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
            //modal_this.$element.focus()

          }
        })
      };

    });
  </script>

</body>
</html>