<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" type="image/png" sizes="16x16" href="~/lib/admin/assets/images/favicon.png">
<title>Monster Admin Template - The Most Complete & Trusted Bootstrap 4 Admin Template</title>


