@model ContentTableHtmlView
@{
  ViewBag.Title = G.GetModelTitle(C.Text(ViewBag.id)) + " Management";
  Model.FirstRowAction = "Edit";
  Model.FirstRowController = "ModelManagement";
  Model.FirstRowArea = "Area";
  Model.FirstRowObject = b => new { @area = G.AdminPath, @id = (b as ContentTableRowItem).Id, @type = ServiceContainer.ModelService.GetMapperKey((b as ContentTableRowItem).ThisType.FullName) };
  Model.DeleteFunctionName = "deleteRole";
  var tableSize = TypeExtends.GetTableSize(Model.ThisTypeFrom);
}
<form id="modelDeleteForm" action="@Url.Action("Delete","ModelManagement","@area=G.AdminPath")" method="post">
  <input type="hidden" name="type" value="@ViewBag.id" />
  <input id="deleteId" type="hidden" name="deleteId" value="" />
</form>
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="button-box">

          <a href="@Url.Action("Create","ModelManagement",new { @area=G.AdminPath,@id=ViewBag.id })" class="btn btn-info btn-group">Create</a>
        </div>

      </div>

      <div class="body">
        @{ Html.RenderPartial("Contents/_ContentTableHtml", Model); }

      </div>
    </div>
  </div>
</div>

@section script{
  <script>
    $(function () {
      $('.basic-example').DataTable(
        {
          "pageLength": @tableSize
        } 
      );
    });
  </script>
  @*<script src="/admin-lib/assets/js/pages/tables/jquery-datatable.js"></script>*@
  <script>
    $(function () {
      $('.sweetalert_delete.delete_button').on('click', function () {
        var id = $(this).data('id');
        showCancelMessage(function(){
          $('#deleteId').val(id);
          if(id){
            document.getElementById('modelDeleteForm').submit()
          }
        })
      });
    });

   function deleteRole(id){
     showCancelMessage(function(){
          $('#deleteId').val(id);
          if(id){
            document.getElementById('modelDeleteForm').submit()
          }
        })
   }

   function showCancelMessage(callback) {
      swal({
        title: "Are you sure?",
        text: "You will not be able to recover!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel plx!",
        closeOnConfirm: false,
        closeOnCancel: false
      }, function (isConfirm) {
        if (isConfirm) {
          swal("Deleted!", "Your record has been deleted.", "success");
          if(callback){
            callback();
          }
        } else {
          swal("Cancelled", "Your record is safe :)", "error");
        }
      });
    }

    
  </script>
}

