<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.7" targetFramework="net462" />
  <package id="DelegateDecompiler" version="0.25.0" targetFramework="net462" />
  <package id="DelegateDecompiler.EntityFramework" version="0.25.0" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Linq.PropertyTranslator" version="1.0.0.0" targetFramework="net462" />
  <package id="Linq.PropertyTranslator.Core" version="1.0.5" targetFramework="net462" />
  <package id="Microsoft.Linq.Translations" version="1.0.1" targetFramework="net462" />
  <package id="Mono.Reflection.Core" version="1.1.1" targetFramework="net462" />
  <package id="QueryInterceptor" version="0.2" targetFramework="net462" />
  <package id="QueryInterceptor.Core" version="1.0.7" targetFramework="net462" />
</packages>