@using SDHC.Common.Entity.Models
@model ContentPostModel

@{ await Html.RenderPartialAsync("_ContentPostHide", Model);}

<div class="form-group">
  <label>Url</label>
  <input type="text" class="form-control" name="Title" value="@Model.Title" required />
</div>

@{ Html.RenderPartial("AdminInputs/_PropertiesEdit", Model);}
<button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
