@using SDHC.Common.Entity.Models
@model ContentPostModel
@{
  ViewBag.Title = "Edit Content";
  Layout = "~/Areas/Admin/Views/Shared/_Layout_Content.cshtml";
}
@section breadcrumb{
  @{ Html.RenderPartial("_BreadCrumbContent", Model.ConvertToBaseModel());}
}
<div class="card">
  <div class="card-header">
    <h2>Default Basic Forms</h2>
  </div>
  <div class="body">
    <form action="@Url.Action("Edit","Content",new { @area=ConfigContainer.Systems.AdminPath })" class="" method="post" enctype="multipart/form-data">
      @{ Html.RenderPartial("_CreateOrEdit", Model);}
    </form>
  </div>
</div>
